#bingo table, #bingo th, #bingo td {
	border: 1px solid #000;
}

#bingo  td {
	text-align: center;
}

.cell {
	background-color: #FFF;
	color: #444;
	cursor: pointer;
}

.clicked {
	background-color: #444 !important;
	color: #FFF !important;
}

